@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@font-face {
  font-family: dotfont;
  src: url(../assets/font/led_counter.ttf);
}

:root{
    --basefont: 'Outfit';
    --bg: #000315;
    --fg: #EEEEFF;
    --shadows: rgba(255, 255, 255, 0.5);
    --lines: rgba(255, 255, 255, 0.05);
    --lines-secondary: rgba(255, 255, 255, 0.05);
    --lines-tertiary: rgba(255, 255, 255, 0.15);
    --rl: 10vw; /* horizontal padding */
    --ac1: #0fed30;
    --ac2: #1e0fed;
    --transition: 400ms;
}

::selection{
    background: var(--fg);
    color: var(--bg);
}

*{
    font-family: var(--basefont), sans-serif;
    color: var(--fg);
    transition: var(--transition);
    scroll-behavior: smooth;
}

.special-font{
    font-family: 'dotfont';
}

::-webkit-scrollbar{
    display: none;
}

body, html{
    margin: 0;
    width: 100vw;
    height: 100vh;
    background: var(--bg);
    overflow-x: hidden;
}

body, .navbar {
    background-image: 
        linear-gradient(to right, var(--lines) 1px, transparent 1px),
        linear-gradient(to bottom, var(--lines) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: var(--bg);
}


/* navbar */

.navbar {
    background-color: var(--bg) !important; /* Erzwingen der Hintergrundfarbe */
    width: 100%;
    position: sticky;
    inset: 0 auto auto 0;
    box-sizing: border-box;
    padding: 2vh var(--rl);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: 
        linear-gradient(to right, var(--lines) 1px, transparent 1px),
        linear-gradient(to bottom, var(--lines) 1px, transparent 1px);
    background-size: 20px 20px;
    background-color: var(--bg);
    z-index: 10;
}


.navbar .logo{
    font-size: 2.5rem;
    /* font-weight: bold; */
    cursor: pointer;
    text-decoration: none;
}

.navbar .links{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .links a.link{
    text-decoration: none;
    font-size: 1.4rem;
}

.navbar .links a.link:hover{
    text-shadow: var(--shadows) 0 0 20px;
}

.section{
    width: calc(100vw - 2*var(--rl));
    /* padding: 6vh var(--rl); */
    padding: 6vh 0;
    box-sizing: border-box;
    margin: auto;
    border: none;
    gap: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.section:not(.hero) {
    border-top: 1px solid var(--lines-tertiary);
}

/* .hero{
    gap: 10vh;
    display: flex;
    align-items: center;
    flex-direction: column;
} */

.hero .slogan-box{
    display: flex;
    justify-content: center;
    gap: calc(0.2*var(--rl));
    align-items: center;
}

.hero .bracket{
    color: var(--lines-tertiary);
    font-size: 6rem;
    font-weight: bold;
}

.hero .slogan{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2vh; */
}

.hero .slogan .word{
    font-size: 6rem;
    font-weight: bold;
    font-family: dotfont;
    transition: 2s !important;
    transition-timing-function: ease;
    cursor: pointer;
    color: var(--fg);
}

.hero .slogan .word:hover{
    background: linear-gradient(45deg, var(--ac1), var(--ac2));
    background-clip: text;
    color: transparent;
}

.hero .subtitle p{
    font-size: 1.25rem;
    opacity: 0.6;
    text-align: center;
}

.hero .subtitle .discover-text{
    margin-top: 4vh;
    opacity: 1 !important;
    text-align: center;
    color: var(--fg);
    font-size: 1.15rem;
    cursor: pointer;
}

.section .headline{
    font-size: 3rem;
    font-weight: bold;
    font-family: dotfont;
}

.project-cards{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* width: 75%; */
    gap: 6vh;
}

.project-cards .project-card{
    display: flex;
    flex-direction: column;
    gap: 2vh;
    /* padding: 2vh; */
}

.project-cards .project-card .title{
    font-size: 2rem;
    font-weight: bold;
}

.project-cards .project-card .description{
    font-size: 1.2rem;
    opacity: 0.75;
}

.project-cards .project-card .tags{
    display: flex;
    gap: 0.75vh;
}

.project-cards .project-card .tags .tag{
    padding: .75vh 1.25vh;
    font-size: .8rem;
    background-color: var(--lines-tertiary);
    color: var(--fg);
    border-radius: .25rem;
    cursor: pointer;
}

.project-cards .project-card .link{
    display: flex;
    justify-content: start;
    align-items: center;
    text-decoration: none;
    gap: .5ch;
}

.project-cards .project-card .link span{
    font-size: 1rem !important;
}

.skills-list{
    display: flex;
    max-width: 80%;
    gap: 2vh;
}

.skills-list .skill{
    padding: 1vh 2vh;
    border-radius: .4rem;
    background: var(--lines-tertiary);
    cursor: pointer;
}

.copyright{
    color: var(--shadows);
    font-size: .8rem;
}

div.text{
    font-size: 1.3rem;
}

.contact-options .email{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1ch;
    padding: 1.5vh 3vh;
    border-radius: .5rem;
}

.email:hover{
    background: var(--lines-tertiary);
}

.email a{
    text-decoration: none;
}